<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swetvfamily.connect">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        //Login Activity
        <activity android:name=".alternate_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        /////////////////////////////////////////////////////////
        //MAIN APPLICATION ACTIVITIES
        //Activities should go in this order from left to right
        //Avatar Profile --- Map --- Camera and Social Club Streams -- Feeds and Chats
        ////////////////////////////////////////////////////////

        //Map Activity
        <activity android:name=".MapActivity">
            <intent-filter>
                <action android:name="com.swetvfamily.connect.MapActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        //Avatar Profile Activity
        <activity android:name=".AvatarProfileActivity">
            <intent-filter>
                <action android:name="com.swetvfamily.connect.AvatarProfileActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        //Camera Activity
        <activity android:name=".CameraAndSocialClubStream">
            <intent-filter>
                <action android:name="com.swetvfamily.connect.CameraAndSocialClubStream" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        //Feeds and Chats Activity
        <activity android:name=".FeedsAndChats">
            <intent-filter>
                <action android:name="com.swetvfamily.connect.FeedsAndChats" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>